.btn{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 2px;
}

.cta-btn{
    font-size: 1.1rem;
    background-color: #ffffff;
    padding: .9rem 1.8rem;
    color: var(--body-font-color);
    border-radius: .4rem;
    transition: background-color .5s;

    &:hover,
    &:focus{
        color: #ffffff;
        background-color: var(--secondary-font-color);
    }
}