  
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto&display=swap');

//sections
@import './sections/_header';
@import './sections/_hero';
@import './sections/_story';
@import './sections/_recipes.scss';
@import './sections/_menu';
@import './sections/_blend';
@import './sections/_vegetables';
@import './sections/_footer';

//Globals / elements
@import './_globals';
@import './_buttons';
// Rseponsive
@import './responsive';

/* Reset */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Open Sans', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --body-font: 'Lato', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
}

html{
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}

section{
    padding: 3.9rem 0;
}

img{
    width: 100%;
    max-width: 100%;
}

a{
    text-decoration: none;
}

p{
    font-size: 1.6rem;
}

.container{
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

// Navigation Open
.open{
    header{
        .menu__toggle{
            .fa-times{
                display: block;
            }
            .fa-bars{
                display: none;
            }
        }

        .nav__list{
            transform: translateX(0);
        }

        .nav::before{
            opacity: 1;
            transform: scale(1);
        }
    }
}

